body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.65;
  word-break: break-word;
  font-kerning: auto;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  hyphens: auto;
  text-align: center;
}

h2,
h3,
h4 {
  margin-top: 1.5em;
}

h1 {
  margin-top: 70px;
  text-align: center;
  font-size: 45px;
}

a {
  cursor: pointer;
  color: #0076ff;
  text-decoration: none;
  transition: all 0.2s ease;
  border-bottom: 1px solid white;
}

a:hover {
  border-bottom: 1px solid #0076ff;
}

code,
pre,
input {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.92em;
  color: #d400ff;
}

pre {
  background-color: #fafafa;
  color: black;
  border: 1px solid #f0f0f0;
  border-radius: 0.25rem;
  max-height: 8rem;
  overflow-y: auto;
  display: block;
}

input {
  appearance: none;
  border-radius: 0.25rem;
  border: 1px solid #eee;
  color: black;
  font-variant-ligatures: none;
  outline: none;
  padding: 0.5rem;
}

button {
  background: black;
  border-radius: 0.25rem;
  color: white;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-weight: 700;
  padding: 0.5rem 2rem;
}

input:focus {
  border-color: blue;
}

p {
  text-align: center;
  font-size: 16px;
}
